body {
    /* изменяем цвет текста в блоке body  */
    color: rgb(255, 255, 255);
    /* изменяем цвет фона в блоке... */
    background-color: rgba(0, 0, 0, 0.609);
  }
  
  a {
    /* изменяем цвет ВСЕХ ссылок на странице */
    color: rgb(114, 24, 24);
    /* убираем у всех ссылок "подчёркивание" */
    text-decoration: none;
  }
  
  a:hover {
    /* меняем цвет ссылок "при наведении" */
    color: rgb(255, 255, 255);
    /* "при наведении" над ссылкой должна появиться черта */
    text-decoration: overline;
  }
  
  /* img{
      width: 100%;
  } */
  
  .bigimg {
    /* для класса bigimg ширина 100% от окна браузера */
    width: 100%;
  }
  
  nav {
    /* у тэга nav фон цвета... */
    background-color: rgb(56, 41, 143);
    /* ни один элемент не имеет права выходить за пределы тега nav  */
    overflow: hidden;
    /* все строчные элементы блока должны стоять "по центру" */
    text-align: center;
    min-width: 660px;
  }
  
  nav li {
    /* все элементы li внутри блока nav строчные  */
    display: inline-block;
    /* элементам li сверху и снизу добавить ВНУТРЕННИЙ отступ */
    padding-top: 25px;
    padding-bottom: 25px;
    /* у всех li внутри тэга nav справа ВНЕШНИЙ отступ равен... */
    margin-right: 10%;
  }
  
  nav a {
    /* все символы в ссылках БОЛЬШИЕ */
    text-transform: uppercase;
    color: rgba(200, 200, 200, 0.767);
  }