body{
    color: rgb(255, 255, 255);
    background: black;;
}
a:hover{
    color:rgb(255, 255, 255);
    text-decoration: overline;
}
/* img{
    width: 100%;
} */

.bigimg{
    width: 100%;
}